@charset "UTF-8";

/* Estilos para Telas */

* {
    margin: 0%;
    padding: 0%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-image: linear-gradient(to left,rgb(87, 86, 86),rgb(121, 120, 120), transparent);
}

header > h1 {
    text-align: center;
    padding: 30px;

}

header > menu {
    background-color: rgb(32, 31, 31);
}

menu ul {
    color: white;
}

menu li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

a:hover {
    text-shadow: 1px 1px 3px rgba(254, 254, 254, 0.701);
    background-image: linear-gradient(to left,rgb(88, 112, 206),rgb(17, 34, 122));
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    transition: .4s;
}

article {
    width: 350px;
    display: block;
    margin: auto;
}

article > h2 {
    padding: 20px;
}