@charset "UTF-0";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom,#829FD9,#4E64A6);
}
main {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #1d276092;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    color: #131A40;
    text-shadow: 1px 1px 2px #1d276092;
}
h2 {
    color: #157249cc;
    text-shadow: 1px 1px 3px #6774c0b5;

}
p {
    text-align: justify;
    text-overflow: clip;
}