@charset "UTF-8";

* {
    margin: 0%;
    
}

@font-face {
    font-family: 'Passion One';
    src: url(pacote-d012/fonte/Passion_One/PassionOne-Bold.ttf) format(truetype);
}

@import
url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');

@font-face {
    font-family: 'Srinracha';
    src: url(pacote-d012/fonte/Sriracha/Sriracha-Regular.ttf) format('truetype');
}
:root {

    --fonte-destaque: 'Passion One', sans-serif;
    --fonte-texto: 'Sriracha', sans-serif;
}


body {
    background-color: rgb(234, 234, 234);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    height: 70px;
    max-width: 100%;
}

header > h1 {
    
    padding: 5px;
    font-family: var(--fonte-destaque);
}







main {
    max-width: 700px;
    margin: 100px 26px 36px 8px;
    text-align: justify;
    padding: 10px;
}
main > p {
    padding: 40px;
    padding-bottom: 50px;
    font-family: 'Sriracha' ,var(--fonte-texto);
    font-size: 1.2em;
    
    font-weight: bolder;

}

div > p {
    
    font-family: var(--fonte-texto);
    font-size: 1.2em;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.43),transparent);
    padding: 10px;
    

    position: absolute;

    top: 17%;
    left: 2%;
    right: 49%;

}

.conteudo {
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 158% 101%;
    height: 390px;
    max-width: 520px;
    margin: 10px 0px 10px 41px;

    position: relative;

    
}


.destaque {
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 158% 101%;
    height: 390px;
    max-width: 520px;
    margin: 10px 0px 10px 41px;

    position: relative; 
}



footer {
    padding: 5px;
    background-color: black;
    color: white;
    max-width: 100%;
}

footer > h2 {
    font-size: 1em;
    text-align: center;
}

footer > h2 > a {
    text-decoration: none;
    color: white;

}
footer > h2 > a:hover {
    background-color: rgb(60, 66, 255);
    text-decoration: underline;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    transition-duration: 0.5s;



}